In [1]:
import feather
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
NY1221 = pd.read_csv('202112-citibike-tripdata.csv')
NY1121 = pd.read_csv('202111-citibike-tripdata.csv')
NY1021 = pd.read_csv('202110-citibike-tripdata.csv')
NY0921 = pd.read_csv('202109-citibike-tripdata.csv')
NY0821 = pd.read_csv('202108-citibike-tripdata.csv') 
NY0721 = pd.read_csv('202107-citibike-tripdata.csv')
NY0621 = pd.read_csv('202106-citibike-tripdata.csv')
NY0521 = pd.read_csv('202105-citibike-tripdata.csv') 
NY0421 = pd.read_csv('202104-citibike-tripdata.csv') 
NY0321 = pd.read_csv('202103-citibike-tripdata.csv') 
NY0221 = pd.read_csv('202102-citibike-tripdata.csv') 
NY0121 = pd.read_csv('202101-citibike-tripdata.csv')

C:\Users\jppot\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\jppot\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
NY1221.info()
NY1121.info()
NY1021.info()
NY0921.info()
NY0821.info()
NY0721.info()
NY0621.info()
NY0521.info()
NY0421.info()
NY0321.info()
NY0221.info()
NY0121.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1748287 entries, 0 to 1748286
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 173.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2159283 entries, 0 to 2159282
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 214.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069239 entries, 0 to 3069238
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 304.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3280221 entries, 0 to 3280220
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 325.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072478 entries, 0 to 3072477
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 304.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3084537 entries, 0 to 3084536
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 305.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3177517 entries, 0 to 3177516
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    float64
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(5), object(8)
memory usage: 315.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2724165 entries, 0 to 2724164
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 270.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067669 entries, 0 to 2067668
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 205.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1531094 entries, 0 to 1531093
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1531094 non-null  object
 1   rideable_type       1531094 non-null  object
 2   started_at          1531094 non-null  object
 3   ended_at            1531094 non-null  object
 4   start_station_name  1531094 non-null  object
 5   start_station_id    1531094 non-null  object
 6   end_station_name    1527893 non-null  object
 7   end_station_id      1527893 non-null  object
 8   start_lat           1531094 non-null  float64
 9   start_lng           1531094 non-null  float64
 10  end_lat             1527893 non-null  float64
 11  end_lng             1527893 non-null  float64
 12  member_casual       1531094 non-null  object
dtypes: float64(4), object(9)
memory usage: 151.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649983 entries, 0 to 649982
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             649983 non-null  object
 1   rideable_type       649983 non-null  object
 2   started_at          649983 non-null  object
 3   ended_at            649983 non-null  object
 4   start_station_name  649983 non-null  object
 5   start_station_id    649983 non-null  object
 6   end_station_name    648651 non-null  object
 7   end_station_id      648651 non-null  object
 8   start_lat           649983 non-null  float64
 9   start_lng           649983 non-null  float64
 10  end_lat             648651 non-null  float64
 11  end_lng             648651 non-null  float64
 12  member_casual       649983 non-null  object
dtypes: float64(4), object(9)
memory usage: 64.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095346 entries, 0 to 1095345
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1095346 non-null  int64
 1   starttime                1095346 non-null  object
 2   stoptime                 1095346 non-null  object
 3   start station id         1095346 non-null  int64
 4   start station name       1095346 non-null  object
 5   start station latitude   1095346 non-null  float64
 6   start station longitude  1095346 non-null  float64
 7   end station id           1095346 non-null  int64
 8   end station name         1095346 non-null  object
 9   end station latitude     1095346 non-null  float64
 10  end station longitude    1095346 non-null  float64
 11  bikeid                   1095346 non-null  int64
 12  usertype                 1095346 non-null  object
 13  birth year               1095346 non-null  int64
 14  gender                   1095346 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 125.4+ MB

In [6]:
def Col_rename(df):
    for i in list(df.columns):
        if i in ['starttime','started_at','Start Time']:
            df.rename({i:'start_time'}, axis=1, inplace = True)
        if i in ['member_casual','User Type','usertype']:
            df.rename({i: 'user_type'}, axis =1, inplace = True)
        if i in ['tripduration' , 'Trip Duration']:
            df.rename({i: 'duration'}, axis =1, inplace = True)
        if i in ['stoptime'  , 'Stop Time'  ,'ended_at']:
            df.rename({i: 'end_time'}, axis =1, inplace = True)
        if i in ['start station id',  'Start Station ID' ]:
            df.rename({i: 'start_station_id'}, axis =1, inplace = True)
        if i in ['start station name' , 'Start Station Name' ]:
            df.rename({i: 'start_station_name'}, axis =1, inplace = True)
        if i in ['start station latitude' , 'Start Station Latitude' ]:
            df.rename({i: 'start_lat'}, axis =1, inplace = True)
        if i in ['start station longitude', 'Start Station Longitude' ]:
            df.rename({i: 'start_lng'}, axis =1, inplace = True)
        if i in ['end station id' , 'End Station ID' ]:
            df.rename({i: 'end_station_id'}, axis =1, inplace = True)
        if i in ['end station name' ,'End Station Name']:
            df.rename({i: 'end_station_name'}, axis =1, inplace = True)
        if i in ['end station latitude'  ,'End Station Latitude']:
            df.rename({i: 'end_lat'}, axis =1, inplace = True)
        if i in ['end station longitude', 'End Station Longitude']:
            df.rename({i: 'end_lng'}, axis =1, inplace = True)

In [38]:
# drop rows with missing end station   
def Drop_end(df):
    df = df.dropna(how='any', subset=['end_station_name', 'end_lng'], inplace = True)
      

# downsize memory for user_type and duration columns 
def Downsize_memory(df):
     df['user_type'] = df['user_type'].astype('category')
     df['duration'] = df['duration'].astype('int32')

# reorder columns and drop columns: birth year, gender, bikeid, rideid            
def Col_reorder(df):
    
    df = df[['start_time','end_time','duration',
             'start_station_name','start_station_id',
             'end_station_name','end_station_id',
             'start_lat','start_lng', 'end_lat','end_lng', 'user_type']]
    return df

In [39]:
# make columms uniform & drop empty rows 
def clean_df(df): 

    Col_rename(df)
    Col_to_dt(df)
    Col_duration(df)
    Statid_to_string(df)
    User_binary(df)
    Drop_end(df)
    Downsize_memory(df)
    df = Col_reorder(df)

    return df

In [71]:
NY1221 = clean_df(NY1221)
NY1121 = clean_df(NY1121)
NY1021 = clean_df(NY1021)
NY0921 = clean_df(NY0921)
NY0821 = clean_df(NY0821)
NY0721 = clean_df(NY0721)
NY0621 = clean_df(NY0621)
NY0521 = clean_df(NY0521)
NY0521 = clean_df(NY0421)
NY0321 = clean_df(NY0321)
NY0221 = clean_df(NY0221)
NY0121 = clean_df(NY0121)

In [72]:
feather.write_dataframe(NY1221, 'NY1221.feather')
feather.write_dataframe(NY1121, 'NY1121.feather')
feather.write_dataframe(NY1021, 'NY1021.feather')
feather.write_dataframe(NY0921, 'NY0921.feather')
feather.write_dataframe(NY0821, 'NY0821.feather')
feather.write_dataframe(NY0721, 'NY0721.feather')
feather.write_dataframe(NY0621, 'NY0621.feather')
feather.write_dataframe(NY0521, 'NY0521.feather')
feather.write_dataframe(NY0421, 'NY0421.feather')
feather.write_dataframe(NY0321, 'NY0321.feather')
feather.write_dataframe(NY0221, 'NY0221.feather')
feather.write_dataframe(NY0121, 'NY0121.feather')

In [73]:
NY122021 = feather.read_dataframe('NY1221.feather')
NY112021 = feather.read_dataframe('NY1121.feather')
NY102021 = feather.read_dataframe('NY1021.feather')
NY092021 = feather.read_dataframe('NY0921.feather')
NY082021 = feather.read_dataframe('NY0821.feather')
NY072021 = feather.read_dataframe('NY0721.feather')
NY062021 = feather.read_dataframe('NY0621.feather')
NY052021 = feather.read_dataframe('NY0521.feather')
NY042021 = feather.read_dataframe('NY0421.feather')
NY032021 = feather.read_dataframe('NY0321.feather')
NY022021 = feather.read_dataframe('NY0221.feather')
NY012021 = feather.read_dataframe('NY0121.feather')

In [74]:
NY122021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1739708 entries, 0 to 1739707
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          datetime64[ns]
 1   end_time            datetime64[ns]
 2   duration            int32
 3   start_station_name  object
 4   start_station_id    object
 5   end_station_name    object
 6   end_station_id      object
 7   start_lat           float64
 8   start_lng           float64
 9   end_lat             float64
 10  end_lng             float64
 11  user_type           category
dtypes: category(1), datetime64[ns](2), float64(4), int32(1), object(4)
memory usage: 141.0+ MB

In [75]:
NY2021_concat = pd.concat([NY122021, NY122021,NY102021,NY092021, NY082021,NY072021, NY062021, NY052021, NY042021, NY032021, NY022021,NY012021 ], axis=0)

In [76]:
NY2021_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26499105 entries, 0 to 1095345
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          datetime64[ns]
 1   end_time            datetime64[ns]
 2   duration            int32
 3   start_station_name  object
 4   start_station_id    object
 5   end_station_name    object
 6   end_station_id      object
 7   start_lat           float64
 8   start_lng           float64
 9   end_lat             float64
 10  end_lng             float64
 11  user_type           category
 12  ride_id             object
 13  rideable_type       object
dtypes: category(1), datetime64[ns](2), float64(4), int32(1), object(6)
memory usage: 2.7+ GB

In [ ]:
NY042019.head()

In [ ]:
NY042019.info()

In [ ]:
def Col_rename(df):
    for i in list(df.columns):
        if i in ['starttime','started_at','Start Time']:
            df.rename({i:'start_time'}, axis=1, inplace = True)
        if i in ['member_casual','User Type','usertype']:
            df.rename({i: 'user_type'}, axis =1, inplace = True)
        if i in ['tripduration' , 'Trip Duration']:
            df.rename({i: 'duration'}, axis =1, inplace = True)
        if i in ['stoptime'  , 'Stop Time'  ,'ended_at']:
            df.rename({i: 'end_time'}, axis =1, inplace = True)
        if i in ['start station id',  'Start Station ID' ]:
            df.rename({i: 'start_station_id'}, axis =1, inplace = True)
        if i in ['start station name' , 'Start Station Name' ]:
            df.rename({i: 'start_station_name'}, axis =1, inplace = True)
        if i in ['start station latitude' , 'Start Station Latitude' ]:
            df.rename({i: 'start_lat'}, axis =1, inplace = True)
        if i in ['start station longitude', 'Start Station Longitude' ]:
            df.rename({i: 'start_lng'}, axis =1, inplace = True)
        if i in ['end station id' , 'End Station ID' ]:
            df.rename({i: 'end_station_id'}, axis =1, inplace = True)
        if i in ['end station name' ,'End Station Name']:
            df.rename({i: 'end_station_name'}, axis =1, inplace = True)
        if i in ['end station latitude'  ,'End Station Latitude']:
            df.rename({i: 'end_lat'}, axis =1, inplace = True)
        if i in ['end station longitude', 'End Station Longitude']:
            df.rename({i: 'end_lng'}, axis =1, inplace = True)

In [ ]:
Col_rename(NY042019)

In [ ]:
NY042019.head()

In [ ]:
NY042019.info()

In [ ]:
def Col_to_dt(df):
    df[["start_time", "end_time"]] = df[["start_time", "end_time"]].apply(pd.to_datetime)

def Col_duration(df):
    if 'duration' in list(df.columns):
        df['duration'] = df['duration'].astype(float)
    else: 
        df['duration'] = (df["end_time"] - df["start_time"]).astype('timedelta64[s]')
        

def Statid_to_string(df):
    df['start_station_id'] = df['start_station_id'].astype(str)
    df['end_station_id'] = df['end_station_id'].astype(str)
    
def User_binary(df): 
    user_dict = {'member': 1, 'casual': 0, 
                 'Subscriber': 1, 'Customer': 0, 
                 'subscriber': 1, 'customer': 0}
    df['user_type'] = df['user_type'].map(user_dict)
    df['user_type'].fillna(0, inplace=True)
    
    
#def Drop_cols(df):
    #cols_to_drop = ['birth year','Birth Year', 
                    #'gender', 'Gender',
                    #'bikeid','Bike ID',
                    #'ride_id','rideable_type']
    #df = df.drop(cols_to_drop, axis=1, errors='ignore')

In [ ]:
Col_to_dt(NY042019)

In [ ]:
NY042019.head()

In [ ]:
NY042019.info()

In [ ]:
User_binary(NY042019)

In [ ]:
NY042019.head()

In [ ]:
NY042019.info()

In [ ]:
Statid_to_string(NY042019)

In [ ]:
NY042019.head()

In [ ]:
NY042019.info()

In [ ]:
Col_duration(NY042019)

In [ ]:
NY042019.head()

In [ ]:
NY042019.info()

In [ ]:
NY042019.head()

In [ ]:
NY042019.info()

In [ ]:
df['weekday'] = df['date'].apply(lambda x: parse(str(x)).strftime("%A"))

In [ ]:
NY042019.head()

In [ ]:
NY042019.info()