In [2]:
import pandas as pd

In [ ]:
bike = pd.read_csv("JC-202201-citibike-tripdata.csv")
bike.head()

In [ ]:
bike.shape

In [ ]:
bike.isna().sum()

In [ ]:
bike.rideable_type.value_counts()

In [ ]:
bike.member_casual.value_counts()

In [ ]:
bike.start_station_name.map(bike.start_station_name.value_counts()).sort_values(ascending = False)

In [ ]:
bike.groupby('start_station_name').agg({'start_station_name': 'count'})

In [ ]:
bike.groupby('start_station_name')['start_station_name'].count().sort_values(ascending = False).head(15)

In [ ]:
bike.groupby('end_station_name')['end_station_name'].count().sort_values(ascending = False).head(15)

In [ ]:
bike.loc[bike['start_station_name'] == 'Sip Ave']\
.groupby('end_station_name')['end_station_name'].count()\
.sort_values(ascending = False).head(15)

In [ ]:
bike.loc[bike['end_station_name'] == 'Sip Ave']\
.groupby('start_station_name')['start_station_name'].count()\
.sort_values(ascending = False).head(15)

In [ ]:
# Scraping Citi Bike for CSV files 
import time
from selenium.webdriver.common.by import By
from selenium import webdriver 
pathtodriver = "C:\\Program Files\\Google\\Chrome\\Application\\chromedriver.exe"

In [ ]:
#  Connecting to CitiBike Web Page 
driver = webdriver.Chrome(pathtodriver)
driver.get('https://s3.amazonaws.com/tripdata/index.html')
# Finding and downloading each zip file 
time.sleep(1)
lines = driver.find_elements_by_xpath("//a")
for x in lines:
    x.click()

In [ ]:
##### Extracting and Removing csv and zip folders
import os
from zipfile import ZipFile
# Jersey City ZIPS
source = 'C:\\Users\\Francesco\\Downloads\\CitiBikeDataJCzipped\\'
for file in os.listdir(source):
    if file.endswith('.zip'):
        file_name = source + file
        zip_ref = ZipFile(file_name)
        zip_ref.extractall(source)
        zip_ref.close()
        os.remove(file_name)

In [ ]:
# NYC ZIPS
source2 = 'C:\\Users\\Francesco\\Downloads\\CitiBikeDataNYCzipped\\'
for file in os.listdir(source2):
    if file.endswith('.zip'):
        file_name = source2 + file
        zip_ref = ZipFile(file_name)
        zip_ref.extractall(source2)
        zip_ref.close()
        os.remove(file_name)

In [ ]:
# loading NY files
df1 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201801-citibike-tripdata.csv')
print(df1.shape)
print(df1.columns)

In [ ]:
df2 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201802-citibike-tripdata.csv')
print(df2.shape)
print(df2.columns)

In [ ]:
df3 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201803-citibike-tripdata.csv')
print(df3.shape)
print(df3.columns)

In [ ]:
df4 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201804-citibike-tripdata.csv')
print(df4.shape)
print(df4.columns)

In [ ]:
df5 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201805-citibike-tripdata.csv')
print(df5.shape)
print(df5.columns)

In [ ]:
df6 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201806-citibike-tripdata.csv')
print(df6.shape)
print(df6.columns)

In [ ]:
df7 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201807-citibike-tripdata.csv')
print(df7.shape)
print(df7.columns)

In [ ]:
df8 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201808-citibike-tripdata.csv')
print(df8.shape)
print(df8.columns)

In [ ]:
df9 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201809-citibike-tripdata.csv')
print(df9.shape)
print(df9.columns)

In [ ]:
df10 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201810-citibike-tripdata.csv')
print(df10.shape)
print(df10.columns)

In [ ]:
df11 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201811-citibike-tripdata.csv')
print(df11.shape)
print(df11.columns)

In [ ]:
df12 = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201812-citibike-tripdata.csv')
print(df12.shape)
print(df12.columns)

In [ ]:
# exploring 2020
df1a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202001-citibike-tripdata.csv')
df2a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202002-citibike-tripdata.csv')
df3a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202003-citibike-tripdata.csv')
df4a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202004-citibike-tripdata.csv')
df5a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202005-citibike-tripdata.csv')
df6a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202006-citibike-tripdata.csv')
df7a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202007-citibike-tripdata.csv')
df8a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202008-citibike-tripdata.csv')
df9a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202009-citibike-tripdata.csv')
df10a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202010-citibike-tripdata.csv')
df11a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202011-citibike-tripdata.csv')
df12a = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202012-citibike-tripdata.csv')

In [ ]:
print(df1a.shape)
print(df2a.shape)
print(df3a.shape)
print(df4a.shape)
print(df5a.shape)
print(df6a.shape)
print(df7a.shape)
print(df8a.shape)
print(df9a.shape)
print(df10a.shape)
print(df11a.shape)
print(df12a.shape)

In [ ]:
print(df1a.columns)
print(df2a.columns)
print(df3a.columns)
print(df4a.columns)
print(df5a.columns)
print(df6a.columns)
print(df7a.columns)
print(df8a.columns)
print(df9a.columns)
print(df10a.columns)
print(df11a.columns)
print(df12a.columns)

In [ ]:
# exploring 2021
df1b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202101-citibike-tripdata.csv')
df2b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202102-citibike-tripdata.csv')
df3b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202103-citibike-tripdata.csv')
df4b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202104-citibike-tripdata.csv')
df5b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202105-citibike-tripdata.csv')
df6b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202106-citibike-tripdata.csv')
df7b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202107-citibike-tripdata.csv')
df8b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202108-citibike-tripdata.csv')
df9b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202109-citibike-tripdata.csv')
df10b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202110-citibike-tripdata.csv')
df11b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202111-citibike-tripdata.csv')
df12b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202112-citibike-tripdata.csv')

In [42]:
df12b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202112-citibike-tripdata.csv')

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_10172/2649554790.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df12b = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202112-citibike-tripdata.csv')

In [43]:
df12b.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7AE6209F17967FF2,classic_bike,2021-12-07 08:54:24,2021-12-07 08:59:46,Broadway & Hancock St,4441.06,Lewis Ave & Madison St,4425.02,40.686630,-73.916800,40.686312,-73.935775,member
1,CCE209B6D683C96A,classic_bike,2021-12-13 21:22:35,2021-12-13 21:31:24,S 4 St & Wythe Ave,5204.05,Metropolitan Ave & Meeker Ave,5300.05,40.712859,-73.965903,40.714133,-73.952344,member
2,333961DE681551DA,classic_bike,2021-12-17 22:21:56,2021-12-17 22:30:41,6 Ave & Canal St,5500.07,University Pl & E 14 St,5905.14,40.722438,-74.005664,40.734814,-73.992085,member
3,E5F6240DEF91E399,classic_bike,2021-12-13 17:44:19,2021-12-13 17:51:35,E 2 St & Avenue C,5476.03,E 11 St & 3 Ave,5788.16,40.720874,-73.980858,40.731270,-73.988490,member
4,B93587D5FA305113,classic_bike,2021-12-04 16:03:04,2021-12-04 16:06:47,Columbia St & Degraw St,4422.04,Atlantic Ave & Furman St,4614.04,40.685930,-74.002424,40.691652,-73.999979,member

In [ ]:
print(df1b.shape)
print(df2b.shape)
print(df3b.shape)
print(df4b.shape)
print(df5b.shape)
print(df6b.shape)
print(df7b.shape)
print(df8b.shape)
print(df9b.shape)
print(df10b.shape)
print(df11b.shape)
print(df12b.shape)

In [ ]:
print(df1b.columns)
print(df2b.columns)
print(df3b.columns)
print(df4b.columns)
print(df5b.columns)
print(df6b.columns)
print(df7b.columns)
print(df8b.columns)
print(df9b.columns)
print(df10b.columns)
print(df11b.columns)
print(df12b.columns)

In [ ]:
df1b.head()

In [ ]:
df2b.head()

In [ ]:
#exploring 2022
df1c = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202201-citibike-tripdata.csv')
df2c = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202202-citibike-tripdata.csv')

In [ ]:
print(df1c.shape)
print(df2c.shape)

In [ ]:
print(df1c.columns)
print(df2c.columns)

In [3]:
# exploring 2015
df1d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201501-citibike-tripdata.csv')
df2d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201502-citibike-tripdata.csv')
df3d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201503-citibike-tripdata.csv')
df4d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201504-citibike-tripdata.csv')
df5d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201505-citibike-tripdata.csv')
df6d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201506-citibike-tripdata.csv')
df7d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201507-citibike-tripdata.csv')
df8d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201508-citibike-tripdata.csv')
df9d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201509-citibike-tripdata.csv')
df10d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201510-citibike-tripdata.csv')
df11d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201511-citibike-tripdata.csv')
df12d = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201512-citibike-tripdata.csv')

In [4]:
print(df1d.shape)
print(df2d.shape)
print(df3d.shape)
print(df4d.shape)
print(df5d.shape)
print(df6d.shape)
print(df7d.shape)
print(df8d.shape)
print(df9d.shape)
print(df10d.shape)
print(df11d.shape)
print(df12d.shape)

(285552, 15)
(196930, 15)
(341826, 15)
(652390, 15)
(961986, 15)
(941219, 15)
(1085676, 15)
(1179044, 15)
(1289699, 15)
(1212277, 15)
(987245, 15)
(804125, 15)

In [5]:
print(df1d.columns)
print(df2d.columns)
print(df3d.columns)
print(df4d.columns)
print(df5d.columns)
print(df6d.columns)
print(df7d.columns)
print(df8d.columns)
print(df9d.columns)
print(df10d.columns)
print(df11d.columns)
print(df12d.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [7]:
# exploring 2014
df1e = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2014-01 - Citi Bike trip data.csv")
df2e = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2014-02 - Citi Bike trip data.csv")
df3e = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2014-03 - Citi Bike trip data.csv")
df4e = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2014-04 - Citi Bike trip data.csv")
df5e = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2014-05 - Citi Bike trip data.csv")
df6e = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2014-06 - Citi Bike trip data.csv")
df7e = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2014-07 - Citi Bike trip data.csv")
df8e = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2014-08 - Citi Bike trip data.csv")
df9e = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201409-citibike-tripdata.csv')
df10e = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201410-citibike-tripdata.csv')
df11e = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201411-citibike-tripdata.csv')
df12e = pd.read_csv('C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201412-citibike-tripdata.csv')

In [9]:
print(df1e.shape)
print(df2e.shape)
print(df3e.shape)
print(df4e.shape)
print(df5e.shape)
print(df6e.shape)
print(df7e.shape)
print(df8e.shape)
print(df9e.shape)
print(df10e.shape)
print(df11e.shape)
print(df12e.shape)

(300400, 15)
(224736, 15)
(439117, 15)
(670780, 15)
(866117, 15)
(936880, 15)
(968842, 15)
(963489, 15)
(953887, 15)
(828711, 15)
(529188, 15)
(399069, 15)

In [10]:
print(df1e.columns)
print(df2e.columns)
print(df3e.columns)
print(df4e.columns)
print(df5e.columns)
print(df6e.columns)
print(df7e.columns)
print(df8e.columns)
print(df9e.columns)
print(df10e.columns)
print(df11e.columns)
print(df12e.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [41]:
df1e.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1

In [12]:
# exploring 2013
df6f = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201306-citibike-tripdata.csv")
df7f = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2013-07 - Citi Bike trip data.csv")
df8f = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2013-08 - Citi Bike trip data.csv")
df9f = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2013-09 - Citi Bike trip data.csv")
df10f = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2013-10 - Citi Bike trip data.csv")
df11f = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2013-11 - Citi Bike trip data.csv")
df12f = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\2013-12 - Citi Bike trip data.csv")

In [13]:
print(df6f.shape)
print(df7f.shape)
print(df8f.shape)
print(df9f.shape)
print(df10f.shape)
print(df11f.shape)
print(df12f.shape)

(577703, 15)
(843416, 15)
(1001958, 15)
(1034359, 15)
(1037712, 15)
(675774, 15)
(443966, 15)

In [14]:
print(df6f.columns)
print(df7f.columns)
print(df8f.columns)
print(df9f.columns)
print(df10f.columns)
print(df11f.columns)
print(df12f.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [40]:
# checking if there are the same changes in Jersey
dfj1 = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataJCzipped\\JC-202102-citibike-tripdata.csv")
print(dfj1.shape)
print(dfj1.columns)

(4881, 13)
Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [17]:
dfj2 = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataJCzipped\\JC-201609-citibike-tripdata.csv")
print(dfj2.shape)
print(dfj2.columns)

(33425, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [18]:
dfj3 = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataJCzipped\\JC-201610-citibike-tripdata.csv")
print(dfj3.shape)
print(dfj3.columns)

(29611, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [20]:
dfj4 = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataJCzipped\\JC-201612-citibike-tripdata.csv")
print(dfj4.shape)
print(dfj4.columns)

(15114, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [71]:
df = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202103-citibike-tripdata.csv")

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_10172/911107671.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202103-citibike-tripdata.csv")

In [73]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [72]:
df.rideable_type.value_counts()

docked_bike    1531094
Name: rideable_type, dtype: int64

In [108]:
df1 = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201609-citibike-tripdata.csv")
df2 = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\201610-citibike-tripdata.csv")

In [109]:
print(df1.columns)
print(df2.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [110]:
def Col_rename(df):
    for i in list(df.columns):
        if i in ['starttime','started_at','Start Time']:
            df.rename({i:'start_time'}, axis=1, inplace = True)
        if i in ['member_casual','User Type','usertype']:
            df.rename({i: 'user_type'}, axis =1, inplace = True)
        if i in ['tripduration' , 'Trip Duration']:
            df.rename({i: 'duration'}, axis =1, inplace = True)
        if i in ['stoptime'  , 'Stop Time'  ,'ended_at']:
            df.rename({i: 'end_time'}, axis =1, inplace = True)
        if i in ['start station id',  'Start Station ID' ]:
            df.rename({i: 'start_station_id'}, axis =1, inplace = True)
        if i in ['start station name' , 'Start Station Name' ]:
            df.rename({i: 'start_station_name'}, axis =1, inplace = True)
        if i in ['start station latitude' , 'Start Station Latitude' ]:
            df.rename({i: 'start_lat'}, axis =1, inplace = True)
        if i in ['start station longitude', 'Start Station Longitude' ]:
            df.rename({i: 'start_lng'}, axis =1, inplace = True)
        if i in ['end station id' , 'End Station ID' ]:
            df.rename({i: 'end_station_id'}, axis =1, inplace = True)
        if i in ['end station name' ,'End Station Name']:
            df.rename({i: 'end_station_name'}, axis =1, inplace = True)
        if i in ['end station latitude'  ,'End Station Latitude']:
            df.rename({i: 'end_lat'}, axis =1, inplace = True)
        if i in ['end station longitude', 'End Station Longitude']:
            df.rename({i: 'end_lng'}, axis =1, inplace = True)

In [111]:
Col_rename(df2)

In [112]:
df2.columns

Index(['duration', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_lat', 'start_lng', 'end_station_id',
       'end_station_name', 'end_lat', 'end_lng', 'Bike ID', 'user_type',
       'Birth Year', 'Gender'],
      dtype='object')

In [134]:
df2.dtypes

duration                     float64
start_time            datetime64[ns]
end_time              datetime64[ns]
start_station_id               int64
start_station_name            object
start_lat                    float64
start_lng                    float64
end_station_id                 int64
end_station_name              object
end_lat                      float64
end_lng                      float64
Bike ID                        int64
user_type                     object
Birth Year                   float64
Gender                         int64
dtype: object

In [114]:
df[["start_time", "end_time"]] = df[["start_time", "end_time"]].apply(pd.to_datetime)
df['duration'] = (df["end_time"] - df["start_time"]).astype('timedelta64[s]')

In [133]:
df['duration'] = (df["end_time"] - df["start_time"]).astype('timedelta64[s]')

In [130]:
df2['duration'] = df2['duration'].seconds

AttributeError: 'Series' object has no attribute 'seconds'

In [135]:
df2.head()

,duration,start_time,end_time,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,Bike ID,user_type,Birth Year,Gender
0,328.0,2016-10-01 00:00:07,2016-10-01 00:05:35,471,Grand St & Havemeyer St,40.712868,-73.956981,3077,Stagg St & Union Ave,40.708771,-73.950953,25254,Subscriber,1992.0,1
1,398.0,2016-10-01 00:00:11,2016-10-01 00:06:49,3147,E 85 St & 3 Ave,40.778012,-73.954071,3140,1 Ave & E 78 St,40.771404,-73.953517,17810,Subscriber,1988.0,2
2,431.0,2016-10-01 00:00:14,2016-10-01 00:07:25,345,W 13 St & 6 Ave,40.736494,-73.997044,470,W 20 St & 8 Ave,40.743453,-74.000040,20940,Subscriber,1965.0,1
3,351.0,2016-10-01 00:00:21,2016-10-01 00:06:12,3307,West End Ave & W 94 St,40.794165,-73.974124,3357,W 106 St & Amsterdam Ave,40.800836,-73.966449,19086,Subscriber,1993.0,1
4,2694.0,2016-10-01 00:00:21,2016-10-01 00:45:15,3428,8 Ave & W 16 St,40.740983,-74.001702,3323,W 106 St & Central Park West,40.798186,-73.960591,26502,Subscriber,1991.0,1

In [136]:
df2.duration.dtype

dtype('float64')

In [139]:
df2.start_station_id.unique()

array([ 471, 3147,  345, 3307, 3428,  433, 3314,  453,  534,  128,  391,
        377,  127,  484,  254, 3398,  248,  539,  438, 3260,  297, 2002,
        470,  383,  533,  247, 3137,  417, 3141, 3259,  228, 2000, 3417,
        405, 3313,  423,  384, 3074,  505, 3167, 3145,  359, 3419,  537,
        432,  509,  146,  449,  478,  444, 3224, 3263,  116,  490,  494,
       3085,  455,  365,  236, 3429,  519,  536, 2004,  387,  320, 2008,
        303,  428,  265,  461, 3427, 3155,  497,  173,  450, 3410,  394,
        217,  396, 3134,  520, 3379,  137, 3436, 3242,  527,  502,  150,
        517, 3092,  402,  422,  281,  475,  360,  525, 3055,  466,  483,
       3119, 3113,  151, 3321, 3357, 3435,  498,  321,  325,  323,  482,
       3246, 3095,  362, 3064, 3284,  161, 3163, 3105,  531,  492, 3110,
        296,  285,  477,  264,  529, 3265,  407, 2012,  515, 3399,  316,
        410, 3078, 3236,  311,  528,  369,  280, 3049,  435,  368,  412,
       3289, 3117,  486,  237,  334,  460,  522, 3226, 3125, 3016,  366,
        243,  480,  447, 3153,  336,  523,  120,  380,  456, 3112,  518,
        382, 3062,  476,  496, 3244,  307,  152,  284, 3086,  493,  252,
        446,  503,  398,  174, 3305, 2021,  458,  457,  279,  499, 3152,
       3298, 3043,  306,  143,  229,  479,  319, 2017,  411, 3418,  330,
       3077,  305,  462,  357, 3177, 3082,  376,  168,  276,  430,  249,
       3108, 3079, 3087,  301,  312, 3091,  346,  434, 3249,   72,  225,
        350, 3142, 3329,  251, 3335, 3297,  261,  473,  530,  335,  268,
       3164,  491, 3071,  441, 3002, 3084,  147, 3256,  358,  513,  508,
        469, 3431,  317,  302, 3293,  472, 3414, 3223,  445,  500, 3076,
       3372,  310, 3258, 3255,  392, 3101,  485,  388,  426, 3107,  326,
       3409, 3359, 3140,  399,  253,  212, 3381, 3042, 3093, 3090, 3286,
        437,  532, 3264, 3118,  409, 3301, 3382, 3383,  245, 3121, 3063,
        442, 3171, 3413, 2023,  238,  511, 3146, 3100,  324,  468,  414,
       3345,  401, 3364, 3312, 3416,  474,   83, 3360,  347,  395, 3170,
        526,  361, 3344, 3144,  308,  257, 3066, 3231,  481,  389,  354,
       3103,  379,  267,  524,  540, 3415, 3173, 3073, 3156,  349, 3430,
        266, 3089,  313,  495,  167,  488,  157,  546,  274,  322,  153,
        467, 3325,  258, 3374, 3109, 3350,  415, 3402,  348, 3041, 3080,
       3358, 3172,  372, 3159,  340, 3067, 2006,  507,  514, 3081,  224,
       3241, 3235, 3243,  341, 3048, 3176, 3336,  443,  385, 3290, 3047,
       3283, 3323, 3135, 3294,  367, 3387,  342, 3397,  270, 3115, 3178,
       3285,  295, 3331, 3327,  421, 3288, 2009,  282, 3116, 3179, 3363,
       3434,  304,  501, 3311,   82,  278, 3390, 3309, 3317,  291, 3425,
       3165, 3057, 3378, 3054, 3158, 3150,  363, 3238, 3368,  393,  427,
        331,  448, 3065,  419, 3151, 3129, 3295,  406, 3060, 3400,  339,
       3052, 3375,  440,  355, 3131,  454, 3300, 3367,  400, 3161, 3306,
       3328, 3148,  332, 3111,  364, 3343,  408, 3175, 3392, 3059, 3351,
        164, 3366,  262, 3083, 3377, 3389, 3124,  356, 3169,  244, 3162,
        459, 3386, 3304, 3143, 3061, 2022, 3408, 3132, 3348, 3393, 2010,
        260, 3354, 3370, 3319, 3099,  327, 3106, 3339,  390,  420, 3120,
        119, 3050, 3362,  397, 3315, 3349, 3122, 3404, 3320, 3232, 3347,
       3088,  386, 3396, 3405, 3411, 3046, 3166, 3361,  241,  516,  259,
       3316, 3303, 3341,  239, 3412,  436, 3233, 3422,  195,   79, 3096,
       3282,  309, 3356, 3292, 3180, 3423, 3056, 3424, 3332, 3373, 3126,
       3395, 3053, 3160,  373, 3322, 3072, 3365, 2001, 3070,  315,  353,
        344,  275, 3324, 3128, 3308, 3098, 3384,  289, 3075,  343, 3401,
       3302, 3420, 3237, 3376, 3069,  351, 3310,  418, 3353,  337, 3139,
       3094, 3123,  144, 3355, 3058, 3421, 3221,  232, 3102,  298, 3068,
        242, 3403, 3391, 3333, 3338, 3388,  216, 3394, 3340, 3127, 3330,
       3342, 3044, 3114, 3326, 3230, 3245, 2005, 3250, 3157,  255, 3254,
       3346, 3407, 2003,  487, 3154, 3219,  504, 3040,  328, 3017,  352,
        439,  416, 3168], dtype=int64)

In [140]:
df1 = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Capstone file\\CitiBikeDataNYCzipped\\202008-citibike-tripdata.csv")

In [141]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [144]:
df1.loc[df1['start station name'] == 'W Broadway & Spring St']

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
92,735,2020-08-01 00:02:30.9080,2020-08-01 00:14:46.2430,3467,W Broadway & Spring St,40.724947,-74.001659,346,Bank St & Hudson St,40.736529,-74.006180,42181,Subscriber,1989,1
587,1991,2020-08-01 00:18:03.4880,2020-08-01 00:51:15.1390,3467,W Broadway & Spring St,40.724947,-74.001659,2003,1 Ave & E 18 St,40.733812,-73.980544,43089,Subscriber,1998,1
635,1712,2020-08-01 00:19:36.8680,2020-08-01 00:48:09.3690,3467,W Broadway & Spring St,40.724947,-74.001659,223,W 13 St & 7 Ave,40.737815,-73.999947,39844,Subscriber,1994,1
637,1895,2020-08-01 00:19:41.1250,2020-08-01 00:51:16.9880,3467,W Broadway & Spring St,40.724947,-74.001659,2003,1 Ave & E 18 St,40.733812,-73.980544,38050,Subscriber,1997,2
758,645,2020-08-01 00:23:34.9530,2020-08-01 00:34:20.6650,3467,W Broadway & Spring St,40.724947,-74.001659,401,Allen St & Rivington St,40.720196,-73.989978,19477,Subscriber,1987,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2327819,514,2020-08-31 22:42:48.8270,2020-08-31 22:51:23.7910,3467,W Broadway & Spring St,40.724947,-74.001659,236,St Marks Pl & 2 Ave,40.728419,-73.987140,25030,Customer,1997,1
2328087,616,2020-08-31 22:52:38.9410,2020-08-31 23:02:55.1690,3467,W Broadway & Spring St,40.724947,-74.001659,326,E 11 St & 1 Ave,40.729538,-73.984267,45665,Subscriber,1993,1
2328244,342,2020-08-31 22:57:24.3090,2020-08-31 23:03:06.9910,3467,W Broadway & Spring St,40.724947,-74.001659,3435,Grand St & Elizabeth St,40.718822,-73.995960,46168,Subscriber,1983,2
2328395,547,2020-08-31 23:03:32.2600,2020-08-31 23:12:39.8800,3467,W Broadway & Spring St,40.724947,-74.001659,336,Sullivan St & Washington Sq,40.730477,-73.999061,28181,Subscriber,1986,1
2328947,613,2020-08-31 23:27:36.0110,2020-08-31 23:37:49.5110,3467,W Broadway & Spring St,40.724947,-74.001659,224,Spruce St & Nassau St,40.711464,-74.005524,41111,Subscriber,1989,1

In [146]:
df1['start station name'].nunique()

1039