In [3]:
import pandas as pd
import numpy as np
from datetime import date, datetime
import time
import plotly.express as px
from cb1 import *
from pandas.tseries.holiday import *

In [6]:
df = pd.read_feather("agno.feather")

In [7]:
df.head()

,start_time,end_time,start_lat,start_lng,end_lat,end_lng,user_type,month,year,day_of_week,hour_of_day,durationmins,start_name,end_name,day_type
0,2018-12-23 21:37:33.283,2018-12-23 21:49:32.447,40.774925,-73.982666,40.777057,-73.978985,1,12,2018,6,21,11,W 67 St & Broadway,Columbus Ave & W 72 St,Weekend
1,2018-12-04 12:03:15.342,2018-12-04 14:52:22.382,40.727714,-74.011296,40.769155,-73.981918,0,12,2018,1,12,169,Pier 40 - Hudson River Park,Broadway & W 60 St,Weekday
2,2018-12-01 11:00:44.226,2018-12-01 11:03:18.853,40.670484,-73.982090,40.674613,-73.985011,1,12,2018,5,11,2,5 St & 6 Ave,4 Ave & 2 St,Weekend
3,2018-12-31 05:59:51.982,2018-12-31 06:31:02.296,40.750585,-73.994685,40.720195,-74.010301,1,12,2018,0,5,31,8 Ave & W 31 St,North Moore St & Greenwich St,Weekday
4,2018-12-07 12:15:21.002,2018-12-07 12:28:57.018,40.674696,-73.997858,40.697601,-73.993446,1,12,2018,4,12,13,Smith St & 9 St,Clark St & Henry St,Weekday

In [13]:
df.isna().sum()

start_time      0
end_time        0
start_lat       0
start_lng       0
end_lat         0
end_lng         0
user_type       0
month           0
year            0
day_of_week     0
hour_of_day     0
durationmins    0
start_name      0
end_name        0
day_type        0
dtype: int64

In [ ]:
df